@using WEB.Model
@using Services.Models
@using Services.Enums
@model Services.Models.md_seminar_meeting_main
@{
    ViewBag.Title = "会议日程";
    string path = System.Web.Configuration.WebConfigurationManager.ConnectionStrings["DataPath"].ToString();
    List<MeetingScheduleInfo> meetingShceduleInfo = new List<MeetingScheduleInfo>();
    if (Model.mhyrc_type == "2")
    {
        meetingShceduleInfo = ViewBag.MeetingScheduleInfo as List<MeetingScheduleInfo>;
    }
    bool isAccept = Convert.ToBoolean(ViewBag.IsAccept);
    var isImport = (bool)ViewBag.IsImport;
    var userInfo = ViewBag.Userinfo as UserInfo;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>会议日程</title>
    <link rel="stylesheet" href="~/Content/css/meeting_schedule_temp.css">
    <style>
        body {
            background: url('/IO/Content/images/temp_bg@2x.png') no-repeat;
            background-size: 100% 100%;
        }

        .itinerary .head {
            background: url('/IO/Content/images/xt@2x.png') no-repeat;
            background-size: 100% 100%;
        }

            .itinerary .head span {
                background: url('/IO/Content/images/table_title@2x.png') no-repeat;
                background-size: 100%;
            }

        .footer {
            background: url('/IO/Content/images/temp_footer@2x.png') no-repeat;
            background-size: 100%;
        }

        .btnBox {
            position: fixed;
            bottom: .2rem;
            width: 100%;
            z-index: 100;
            width: 100%;
            text-align: center;
        }

        .btnGroup {
            display: flex;
            justify-content: center;
            width: 100%;
        }

            .btnGroup img {
                width: 2.2rem;
                height: .8rem;
            }
    </style>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/layer.mobile/layer.js"></script>
    <script src='http://pv.sohu.com/cityjson?ie=utf-8'></script>
    <script>
        var ip = returnCitySN["cip"]
    </script>
    <script src="~/Scripts/getbrowser.js"></script>
</head>
<body>
    <input id="mid" type="hidden" value="@(Model.mid)" />
    <input id="MeetingMode" type="hidden" value="@Model.meetingmode" />
    <input id="doctortype" type="hidden" value="@Model.doctortype" />
    <div class="title" id='title'>
        @Model.mtitle
    </div>


    <h6 class='listItem time'>
        @if (Model.mbegintime.Value.Date == Model.mendtime.Value.Date)
        {
            <span class="listL">时间：</span><span class="listR">@Model.mbegintime.Value.ToString("MM月dd日 HH:mm") &nbsp;--&nbsp; @Model.mendtime.Value.ToString("HH:mm")</span>
        }
        else
        {
            <span class="listL">时间：</span><span class="listR">@Model.mbegintime.Value.ToString("MM月dd日 HH:mm") &nbsp;--&nbsp; @Model.mendtime.Value.ToString("MM月dd日 HH:mm")</span>
        }
    </h6>
    <h6 class='listItem place'>
        <span class="listL">地点：</span><span class="listR">@Model.msite</span>
    </h6>
    @if (!string.IsNullOrEmpty(Model.chairman))
    {
        <h6 class='listItem chairman'><span class="listL">主席：</span><span class="listR">@(Model.chairman)</span></h6>
    }
    @if (!string.IsNullOrEmpty(Model.speakers))
    {
        <h6 class='listItem speecher'><span class="listL">讲者：</span><span class="listR">@Html.Raw(Model.speakers)</span></h6>
    }
    <img src="/IO/Content/images/qiu@2x.png" class="earthPic" />

    <h6 class="blank"></h6>

    @if (!string.IsNullOrEmpty(Model.introduction))
    {
        <!-- 会议简介 需要根据判断是否渲染 -->
        <div class='meetingInfo'>
            <h5 class="head"></h5>
            <h6 class='meetingDesc'>@Model.introduction</h6>
            <h5 class="foot"></h5>
        </div>
    }

    <div class="schedule">
        @foreach (var meetingSchedule in meetingShceduleInfo)
        {
            <!-- 循环显示每日日程 -->
            <div class="itinerary">
                <p class='date'>@meetingSchedule.MarkTime.ToString("MM月dd日") 日程</p>
                <div class="head">
                    <span>时间</span>
                    <span>讲题</span>
                    <span>讲者</span>
                </div>
                <div class="table">
                    @foreach (var agenda in meetingSchedule.AgendaList)
                    {
                        <!-- 循环每个时段项目 -->
                        <div class="line">
                            <h6 class="l">@agenda.time</h6>
                            <h6 class="c">@agenda.schedule</h6>
                            <h6 class="r">@agenda.name</h6>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
    <div class="footer"></div>
    <div class="btnBox">
        <div class="btnGroup">
            @if (Model.meetingmode == 3 && !isImport)
            {

            }
            else
            {
                @*<img src="~/Content/images/btn-yy.png" alt="预约参会" id="resver" />*@
            if (!string.IsNullOrEmpty(Model.doctorimg) || !string.IsNullOrEmpty(Model.doctorurl))
            {
                if (isAccept)
                {
                    //1、一个已接受的按钮
                    <img src="~/Content/images/acceptHalfPic.png" alt="" id="resver" />
                    <img src="~/Content/images/btn_jj@2x.png" alt="讲者简介" id="info" />
                    @*<img src="~/Content/images/speechInfo@2x.png" alt="讲者简介" id="info" />*@
                }
                else
                {
                    <img src="~/Content/images/acceptInvitionHalf@2x.png" alt="确认参会" id="resver" />
                    <img src="~/Content/images/btn_jj@2x.png" alt="讲者简介" id="info" />
                }

            }
            else
            {
                if (isAccept)
                {
                    //2、一个已接受的按钮
                    <img src="~/Content/images/accepted@2x.png" alt="" id="resver" />
                }
                else
                {
                    <img src="~/Content/images/acceptInvition@2x.png" alt="确认参会" id="resver" />
                    }

                }
            }
        </div>
        @if (Model.meetingmode == 3 && !isImport)
        {

        }
        else
        {
            if (isAccept)
            {

            }
            else
            {
                <h6 id="license">
                    @*<input type="checkbox" id="accept"/>*@
                    @*<a href="/IO/Scripts/Pdf/web/viewer.html?file=Acceptance Note.pdf" style="color: #585151;text-decoration: none;">我已阅读<u>《确认函》</u>内容并接受</a>*@
                    <a href="/IO/Meeting/GetLetterOfAcceptance" style="color: #585151; text-decoration: none;">我已阅读<u>《确认函》</u>内容并接受</a>
                </h6>
            }
        }

    </div>

    <!-- <script src='./js/meeting_schedule_temp.js'></script> -->

    <script>
        click_log($("#mid").val(), "查看邀请函", null)
        var calculate_size = function () {
            var BASE_FONT_SIZE = 100,
                docEl = document.documentElement,
                clientWidth = docEl.clientWidth;
            if (clientWidth) {
                docEl.style.fontSize = BASE_FONT_SIZE * (clientWidth / 750) + 'px';
            }
        };
        // Abort if browser does not support addEventListener
        if (document.addEventListener) {
            var resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';
            window.addEventListener(resizeEvt, calculate_size, false);
            document.addEventListener('DOMContentLoaded', calculate_size, false);
            calculate_size();
        }
        $(function () {
            WriteLog('@ViewBag.mid', '', "VIEW", "浏览");

            var bodHeight = $("body").height();
            //$(".objf").height(bodHeight);
            $(".objf").height('100%');

            if ($("#img").attr("src") == "/IO/Content/images/z.jpg") {
                $("#img").height(bodHeight);
            }

            $(window).resize(function () {
                var bodHeight = $("body").height();

                if ($("#img").attr("src") == "/IO/Content/images/z.jpg") {
                    $("#img").height(bodHeight);
                }
            });
                    $("#resver").click(function () {
                        //if (!$('#accept').attr('checked')) {
                        //    return alert('请先阅读《确认函》并勾选');
                        //}
                click_log($("#mid").val(), "参加会议", function () {
                    $.ajax({
                        url: "/IO/Meeting/JoinMeeting",
                        type: "post",
                        data: { "MId": $("#mid").val(), "State": 1 },
                        success: function (r) {
                            if (r.success) {
                                if ($('#MeetingMode').val() == '3') {
                                layer.open({
                                    content: '会议预约成功。</br>会务组将和您的手机号@(string.IsNullOrEmpty(userInfo.mobile)?"":(userInfo.mobile.Substring(0,3)+"****"+userInfo.mobile.Substring(7,4)))联系。请注意接听来电。' ,
                                    btn: ['我知道了'],
                                    yes: function () {
                                        layer.closeAll();
                                        window.location.href = "/IO/Meeting/Index/1";
                                    }
                                });
                            }
                            else {
                                layer.open({
                                    content: r.success ? '您已预约成功。在会议开始前将接收到会议提醒消息' : r.msg,
                                    btn: 'OK',
                                    yes: function () {
                                        layer.closeAll();
                                        window.location.href = "/IO/Meeting/Index/1";
                                    }
                                });
                            }
                            }
                            else {
                                window.location.href = "/IO/Meeting/Index/1";
                            }

                        },
                        error: function (r) {
                            console.log(r.responseText);
                        }
                    });
                });




            });
            $("#info").click(function () {
                layer.open({ type: 2, shadeClose: false });
                click_log($("#mid").val(), "查看讲者", function () {
                    if ($('#doctortype').val() == '1' || $('#doctortype').val() == '2' || $('#doctortype').val() == '' || $('#doctortype').val() == null) {
                        layer.closeAll();
                        window.location.href = "/IO/Meeting/doctorInfo/" + $("#mid").val();
                    }
                    else {
                        $.ajax({
                            url: "/IO/Meeting/GetDoctorInfo/" + $("#mid").val(),
                            type: "post",
                            success: function (r) {
                                if (r) {
                                    layer.closeAll();
                                    window.location.href = r;
                                }
                            },
                            error: function (r) {
                                layer.closeAll();
                                console.log(r.responseText);
                            }
                        });
                    }
                });
            });
        });
        function click_log(mid, type, callback) {
            $.ajax({
                url: "/IO/ClickLog/Click_Log",
                type: "post",
                data: { "mid": mid, "modelName": type },
                success: function (r) {
                    if (callback) {
                        callback();
                    }
                },
                error: function (r) {
                    console.log(r.responseText);
                }
            });
        }
    </script>
</body>
</html>